{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "https://ederton.com.br/preview/eduavallone",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 2000,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.sass",
          "*.scss",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts"
        ],
        "exceptions": [
          "assets/sass/style.scss"
        ]
      }
    },
    "uploader": {
      "remotePath": "/preview/eduavallone/wp-content/themes/eduavallone",
      "timeout": 25000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".gitattributes",
          "mtimeMs": 1600027413729.3557,
          "date": "2020-09-19T23:46:29.691Z"
        },
        {
          "file": "assets/css/style.css",
          "mtimeMs": 1640101982060.1125,
          "date": "2021-12-21T15:53:04.686Z"
        },
        {
          "file": "assets/images/bg-banner-eduavallone.jpg",
          "mtimeMs": 1600040440964.3396,
          "date": "2020-09-19T23:47:19.435Z"
        },
        {
          "file": "assets/images/mask-banner-eduavallone.png",
          "mtimeMs": 1600040112859.5986,
          "date": "2020-09-19T23:47:30.415Z"
        },
        {
          "file": "assets/css/fonts/fa-brands-400.eot",
          "mtimeMs": 1586436654412.274,
          "date": "2020-09-19T23:46:35.545Z"
        },
        {
          "file": "assets/css/fonts/fa-brands-400.svg",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:38.484Z"
        },
        {
          "file": "assets/css/fonts/fa-brands-400.ttf",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:41.042Z"
        },
        {
          "file": "assets/css/fonts/fa-brands-400.woff",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:43.405Z"
        },
        {
          "file": "assets/css/fonts/fa-brands-400.woff2",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:45.775Z"
        },
        {
          "file": "assets/css/fonts/fa-regular-400.eot",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:47.982Z"
        },
        {
          "file": "assets/css/fonts/fa-regular-400.svg",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:50.533Z"
        },
        {
          "file": "assets/css/fonts/fa-regular-400.ttf",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:52.756Z"
        },
        {
          "file": "assets/css/fonts/fa-regular-400.woff",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:55.168Z"
        },
        {
          "file": "assets/css/fonts/fa-regular-400.woff2",
          "mtimeMs": 1586436654422.312,
          "date": "2020-09-19T23:46:57.236Z"
        },
        {
          "file": "assets/css/fonts/fa-solid-900.eot",
          "mtimeMs": 1586436654430.3293,
          "date": "2020-09-19T23:46:59.789Z"
        },
        {
          "file": "assets/css/fonts/fa-solid-900.svg",
          "mtimeMs": 1586436654432.342,
          "date": "2020-09-19T23:47:02.844Z"
        },
        {
          "file": "assets/css/fonts/fa-solid-900.ttf",
          "mtimeMs": 1586436654432.342,
          "date": "2020-09-19T23:47:05.384Z"
        },
        {
          "file": "assets/css/fonts/fa-solid-900.woff",
          "mtimeMs": 1586436654432.342,
          "date": "2020-09-19T23:47:07.747Z"
        },
        {
          "file": "assets/css/fonts/fa-solid-900.woff2",
          "mtimeMs": 1586436654440.3838,
          "date": "2020-09-19T23:47:10.133Z"
        },
        {
          "file": "assets/css/scrollbar/scrollbar.css",
          "mtimeMs": 1599867848682.5798,
          "date": "2020-09-19T23:47:12.228Z"
        },
        {
          "file": "assets/js/jquery/jquery-3.3.1.min.js",
          "mtimeMs": 1586436654462.552,
          "date": "2020-09-19T23:47:32.780Z"
        },
        {
          "file": "assets/css/style/page/_home.css",
          "mtimeMs": 1600039298470.4746,
          "date": "2020-09-19T23:47:14.428Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1602853137888.8784,
          "date": "2020-10-16T12:58:59.925Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1600952463205.2378,
          "date": "2020-09-24T13:01:05.300Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1600027413721.3733,
          "date": "2020-09-19T23:46:31.303Z"
        },
        {
          "file": "assets/js/plugins/text-clip/text-clip.js",
          "mtimeMs": 1600257316420.1174,
          "date": "2020-09-19T23:47:39.594Z"
        },
        {
          "file": "assets/images/img-sobre.jpg",
          "mtimeMs": 1599698265064.172,
          "date": "2020-09-19T23:47:28.490Z"
        },
        {
          "file": "assets/images/img-depoimentos.jpg",
          "mtimeMs": 1600300329321.3567,
          "date": "2020-09-19T23:47:23.391Z"
        },
        {
          "file": "assets/js/plugins/slick/slick.js",
          "mtimeMs": 1507038568000
        },
        {
          "file": "assets/sass/style/plugins/slick/fonts/slick.eot",
          "mtimeMs": 1507038568000
        },
        {
          "file": "assets/sass/style/plugins/slick/fonts/slick.svg",
          "mtimeMs": 1507038568000
        },
        {
          "file": "assets/sass/style/plugins/slick/fonts/slick.ttf",
          "mtimeMs": 1507038568000
        },
        {
          "file": "assets/sass/style/plugins/slick/fonts/slick.woff",
          "mtimeMs": 1507038568000
        },
        {
          "file": "assets/css/style/plugins/slick/_slick.css",
          "mtimeMs": 1600302371640.183,
          "date": "2020-09-19T23:47:16.789Z"
        },
        {
          "file": "assets/images/bg-footer.jpg",
          "mtimeMs": 1600349888672.1316,
          "date": "2020-09-19T23:47:21.338Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1600559815372.505,
          "date": "2020-09-19T23:56:57.458Z"
        },
        {
          "file": "assets/js/plugins/instagram-feed/instagram-feed.js",
          "mtimeMs": 1600428729967.535,
          "date": "2020-09-19T23:47:34.991Z"
        },
        {
          "file": "assets/images/img-msg.jpg",
          "mtimeMs": 1600430173679.2302,
          "date": "2020-09-19T23:47:25.971Z"
        },
        {
          "file": "front-page.php",
          "mtimeMs": 1600955706713.5173,
          "date": "2020-10-16T12:52:21.853Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1600559799881.2976,
          "date": "2020-09-19T23:56:41.963Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1600905264039.5447,
          "date": "2020-09-23T23:54:26.102Z"
        },
        {
          "file": "assets/images/img-noticias-1.jpg",
          "mtimeMs": 1600561665084.8372,
          "date": "2020-09-20T01:01:12.893Z"
        },
        {
          "file": "assets/js/plugins/scrollbar/scrollbar.js",
          "mtimeMs": 1586436654462.552,
          "date": "2020-09-20T02:13:31.437Z"
        },
        {
          "file": "single.php",
          "mtimeMs": 1600697186253.8218,
          "date": "2020-09-21T14:06:28.305Z"
        },
        {
          "file": "assets/images/linha-tempo-1.jpg",
          "mtimeMs": 1600651168438.299,
          "date": "2020-09-21T01:37:27.531Z"
        },
        {
          "file": "assets/images/linha-tempo-2.jpg",
          "mtimeMs": 1600651174436.9004,
          "date": "2020-09-21T01:37:29.715Z"
        },
        {
          "file": "assets/images/linha-tempo-3.jpg",
          "mtimeMs": 1600651140087.756,
          "date": "2020-09-21T01:37:32.281Z"
        },
        {
          "file": "assets/images/linha-tempo-4.jpg",
          "mtimeMs": 1600651148932.6,
          "date": "2020-09-21T01:37:34.729Z"
        },
        {
          "file": "assets/images/linha-tempo-5.jpg",
          "mtimeMs": 1600651162071.0715,
          "date": "2020-09-21T01:37:37.122Z"
        },
        {
          "file": "assets/images/linha-tempo-6.jpg",
          "mtimeMs": 1600651154522.6824,
          "date": "2020-09-21T01:37:39.362Z"
        },
        {
          "file": "content/list-post.php",
          "mtimeMs": 1600693489447.38,
          "date": "2020-09-21T13:04:51.602Z"
        },
        {
          "file": "archive.php",
          "mtimeMs": 1600694909060.2278,
          "date": "2020-09-21T13:28:31.039Z"
        },
        {
          "file": "category.php",
          "mtimeMs": 1600696869482.746,
          "date": "2020-09-21T14:01:11.704Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1600904560904.2068,
          "date": "2020-09-23T23:42:42.962Z"
        },
        {
          "file": "page-biografia.php",
          "mtimeMs": 1600915753146.9563,
          "date": "2020-09-24T02:49:16.174Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 5 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/sass/style.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "sourceMap": true,
          "customOutput": "assets\\css\\style.css"
        }
      },
      {
        "file": "assets/sass/style/elementos/_alert.scss",
        "config": {
          "autoCompile": false,
          "sourceMap": false,
          "compileImported": false
        }
      },
      {
        "file": "assets/sass/style/elementos/_nav.scss",
        "config": {
          "autoCompile": false,
          "sourceMap": false,
          "compileImported": false
        }
      }
    ]
  }
}
