
body {
	overflow-x: hidden;
	font-size: 100%;
	font-family: $font-family;
	color: $cor-txt;
}

.container {
	max-width: $width; 
	width: 100%;
	height: 100%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing;
	@include clear;
}

.box-section {
	width: 100%;
	position: relative;
	padding: $padding-section 0;
	@include box-sizing;
	@include clear;
}

.content-txt {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0 80px;
	@include box-sizing;

	@include media(1280){
		padding: 0 40px;
	}

	@include media(1080){
		padding: 0;
	}

	a:not(.btn) {
		text-decoration: underline;
	}

	p {
		padding-bottom: 30px;

		&:last-child {
			padding-bottom: 0;
		}
	}
}