
// texto
$cor-txt: #3D3D4C;
$cor-txt-claro: #8B8B94;

// borda
$cor-border: #E8E8E8;

// layout
$principal: #E1E1F1;
$secundario: #19AAE3;
$success: #8EC044;
$error: #FA5357;

// background
$bg-escuro: #1E201C;
$bg-claro: #fefefe;

// cores do tema
$colors: (
	principal: $principal,
	secundario: $secundario,
);

// cor de texto
@each $color, $value in $colors {
	.cor-#{$color} {
		color: $value;
	}
}