.header {
	width: 100%;
	@include animacao;

	&.scroll {
		.nav-principal {
			background-color: #ffffff;
			padding: 20px 0;

			h1 {
				a {
					font-size: 2rem;
				}
			}
		}

		.nav-social {

		}
	}
}