
/* ELEMENTOS */

body * {
	font-family: $font-family;
	font-size: $font-size;
	color: $cor-txt-claro;
	font-weight: $regular;
}

h1 {
	font-family: $font-titulo;
	font-size: 28px;
	line-height: 36px;
	color: $cor-txt;
	font-weight: $bold;
}

h2 {
	font-weight: $extra-bold;
	font-size: 20px;
	line-height: normal;
	color: $cor-txt;
	margin-top: 32px;
}

h3 {
	font-family: $font-titulo;
	font-size: 28px;
	line-height: 36px;
	color: $cor-txt;
	font-weight: $bold;
	margin: 32px 0;
}

p {
	margin-top: 32px;
	line-height: 28px;
	font-size: 16px;
}

.center {
	text-align: center;
}

/* FIM - ELEMENTOS */
